/* CSS Reset  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */
html {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.title {
	margin-bottom: 35px;
}

.title h3 {
    color: black;
    margin: 0;
    position: relative;
    font-weight: 300;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.title h3 span {
    font-weight: 700;
}

.separated {
    padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	background-color: var(--background-color);
}

.separated::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 1px;
    background: black;
    opacity: 0.1;
}

/* Variables */
:root {
    --primary-color: #FCA311;
    --background-color: #f0f0f0;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    height: 80px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
}

.nav-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cta {
    display: block;
    padding: 10px 20px;
    list-style: none;
    border-radius: 50px;
    background-color: var(--background-color);
    color: black;  
    text-decoration: none;
}

.cta:hover {
    background-color: black;
    color: var(--background-color); 
}

.cta.active {
    font-weight: bold;
}

.mobile-contact {
    display: none;
}

.logo {
    color: var(--background-color);
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    z-index: 2;
}

.logo span {
    font-weight: bold;
    color: black;
}

.nav-links {
    margin: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
}

.nav-links a.active {
    font-weight: bold;
}

.nav-links a:hover {
    color: var(--background-color); 
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--background-color);
    margin: 5px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: fixed;
        right: 0px;
        height: 100vh; 
        top: 0; 
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%; 
        transform: translateX(100%);
    }

    .cta {
        display: none;
    }

    .mobile-contact {
        display: block;
    }

    .animate-mobile-nav {
        transition: transform 0.2s ease-in-out;
    }

    .nav-links li {
        margin-bottom: 10px;
        opacity: 0;
        color: black;
    }

    .nav-links a:hover {
        color: var(--background-color); 
    }

    .burger {
        display: block;
    }
    
    .burger div {
        background-color: black;
    }
}

.nav-active {
    transform: translateX(0%);
    z-index: 1;
}

.fade {
    animation: fade 0.2s ease forwards;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.close {
    display: none;
    color: black;
    font-size: 2.1em;
    position: absolute;
    top: 24px;
    right: 25px;
    cursor: pointer;
    z-index: 2;
    animation: fade 0.2s ease forwards;
}

@media screen and (max-width: 768px) {
    .close {
        display: none;
    }
}

/* Hero section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
    text-align: center;
    padding: 0 10px;
}

.hero span {
    font-weight: bold;
    color: var(--primary-color);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-image {
    flex: 0.5;
}

.hero-image img {
    width: 100%;
}

.hero-text {
    flex: 0.6;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
}

@keyframes scrollDown {
    0% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(10px); }
    100% { transform: translateX(-50%) translateY(0); }
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
    font-size: 2.5em;
    text-decoration: none;
    animation: scrollDown 2s infinite;
}

.scroll-down svg {
    width: 1em;
    height: 1em;
}

/* News */
.news {
    background-color: var(--background-color);
    color: black;
    width: 100%;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    margin: 0 auto;
}

.news-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.news-gallery article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s ease all; 
}

.news-gallery article:hover {
    transform: scale(1.03);
}

.news-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-gallery h3 {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5rem;
    text-align: center;
    padding-top: 1rem;
}

.news-gallery p {
    padding: 10px;
    text-align: center;
}

.back-to-top {
    padding-top: 35px;
}

.back-to-top a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.back-to-top a:hover {
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
}

.back-to-top svg {
    width: 1em;
    height: 1em;
}

/* Courses */
#courses {
    padding: 0px;
    background-color: var(--background-color);
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.courses-container {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-heading {
    text-align: center;
    padding-top: 50px;
}

.courses-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.courses-container th, .courses-container td {
    border: 1px solid var(--primary-color);
    padding: 10px;
    text-align: left;
}

.courses-container td span {
    font-weight: bold;
    background-color: red;
    padding: 2px;
    border-radius: 7px;
    color: var(--background-color)
}

.courses-container th {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* Tutorials */
.tutorial-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorial-search h3 {
    padding-top: 25px;
}

.tutorial-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#search {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

#tutorials-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

#tutorials-list li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#tutorials-list li h2 {
    margin: 0 0 10px 0;
    font-weight: bold;
}

#tutorials-list li a {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease; 
}

#tutorials-list li a:hover {
    color: var(--secondary-color); 
}

/* Resources */
.resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    margin: 0;
    margin-top: 20px;
}

.resources-container {
    max-width: 800px;
}

.resources-container h4 {
    text-align: center;
    font-weight: bold;
}

.resources p {
    padding-top: 10px;
}

.resources h3 {
    text-align: center;
}

#resources-table {
    margin: 0 auto;
    border-collapse: collapse;
}


#resources-table th{
    display: flex;
    justify-content: center;
}

#resources-table th, #resources-table td {
    border: 1px solid var(--primary-color);
    padding: 8px;
}

#resources-table td a {
    color: black;
}

#resources-table th {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}

#resources-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary-color);
    color: white;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    margin: 0;
    margin-top: 20px;
}

.upload p {
    padding-top: 10px;
    line-height: 1.2;
}

.upload h3 {
    text-align: center;
}

.upload input[type="file"] {
    display: none;
}

.upload label, input[type="submit"] {
    padding: 10px 20px;
    list-style: none;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: black;  
    text-decoration: none;
    transition: 0.2s;
    margin-top: 20px;
}

.upload label {
    background-color: var(--background-color);
    border: 1px solid black
}

.upload input[type="submit"] {
    display: none;
    margin: 0;
    padding: 0;
}

.upload form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload label:hover, input[type="submit"]:hover {
    background-color: black;
    color: var(--background-color); 
}

.curated-resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    margin: 0;
    margin-top: 20px;
    padding-top: 0;
}

.curated-resources h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#curated-table {
    width: 100%;
    border-collapse: collapse;
}

#curated-table th {
    text-transform: uppercase;
    font-weight: bold;
}
  
#curated-table th, #curated-table td {
border: 1px solid var(--primary-color);
padding: 8px;
}
  
#curated-table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: var(--primary-color);
color: white;
}

/* Modal  */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.558); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid var(--primary-color);
    width: 80%;
}

.modal-content a {
    color: black;;
    font-weight: bold;
    display: block;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.modal-content a:hover {
    color: var(--primary-color);
    transform: translate(-5px);
}

/* Contact Page  */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.contact-container {
    max-width: 800px;
}

.contact {
    max-width: 600px;
}

.contact p {
    padding-top: 10px;
}

.contact-container {
    display: flex;
    width: 98%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-color)
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 80%; 
    max-width: 800px; 
}

#contactForm input[type="text"],
#contactForm input[type="email"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white; 
}

#contactForm textarea {
    font: inherit;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    min-height: 200px;
    resize: vertical; 
    max-height: 800px;
}

#contactForm input[type="text"], 
#contactForm input[type="email"], 
#contactForm textarea {
    font-size: 1em;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;

}

#contactForm input[type="text"]:focus, 
#contactForm input[type="email"]:focus, 
#contactForm textarea:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

#contactForm input[type="submit"] {
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color); 
    cursor: pointer;
}

#contactForm input[type="submit"]:hover {
    background-color: black;
}

#contactForm label {
    margin-top: 20px;
    display: block;
    color: black;
    margin: 0;
    position: relative;
    font-weight: 300;
    font-size: 1rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 6px;
}

#contactForm label:nth-of-type(1),
#contactForm label:nth-of-type(2),
#contactForm label:nth-of-type(3) {
    font-weight: bold;
}

#contactForm label:nth-of-type(2),
#contactForm label:nth-of-type(3) {
    padding-top: 20px;
}

#contactForm input::placeholder,
#contactForm textarea::placeholder {
    color: #bebebe; /* Adjust as needed */
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: black;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-container p {
    margin: 0;
}

/* Media Queries */
@media (max-width: 1150px) {
    .news-container {
        width: 95%;
    }

    .news {
        padding: 0;
    }

    .news-gallery {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding: 0px;
    }
}
@media (max-width: 900px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-image {
        flex: 1;
        width: 60%;
    }

    .hero-text {
        flex: 1;
        padding-top: 40px;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .news-gallery article:hover {
        transform: none;
    }

    .contact-container {
        padding: 0;
    }

    .contact {
        padding: 10px;
        text-align: center;
        overflow-x: hidden;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 12px;
    }

    .title h3 {
        font-size: 1.5rem;
    }

    .tutorial-search {
        text-align: center;
    }

    .contact-container {
        padding: 0;
    }
}

@media (max-width: 350px) {
    .curated-resources {
        width: 98%;
        padding: 2px;
    }

    .curated-resources table {
        width: auto;
    }

    .back-to-top {
        padding-top: 30px;
    }
}
